.playlist-page {
    color: white;
}

/* Header Halaman Playlist */
.playlist-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #4b5563;
    padding-bottom: 0.5rem;
}

.playlist-page-header .playlist-title {
    font-size: 2rem; 
    font-weight: bold;
    margin: 7px;
}

/* Style Tombol Aksi */
.action-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.action-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: #b3b3b3;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease, transform 0.2s ease;
}

.action-icon:hover {
    color: white;
}

/* .action-icon[aria-label="Delete selected playlists"]:hover {
    color: #f87171;
} */

/* Grid Playlist */
.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
}

.playlist-card {
    background-color: #333;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.playlist-card:hover {
    background-color: #666666; 
    transform: translateY(-5px); 
}

.playlist-card-image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    overflow: hidden;
}

.playlist-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.playlist-card:hover .playlist-card-image {
    transform: scale(1.05); 
}

.playlist-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.playlist-card-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-card-creator {
    font-size: 0.875rem;
    color: #9ca3af; 
    margin-top: 0.25rem;
}

/* Responsiveness */
@media (max-width: 480px) {
    .playlist-grid {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 1rem;
    }

    .playlist-header {
        font-size: 1.5rem;
    }
}